.pageTitle{
    position: absolute;
    width: 590px;
    height: 74px;
    left: 71px;
    top: 56px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
    letter-spacing: 0.06em;
    
    color: #383F4B;
}

.subTitle{
    position: absolute;
    width: 590px;
    height: 74px;
    left: 126px;
    top: -10px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.06em;
    
    color: #383F4B;       
}

.signInMessage{
    position: absolute;
    width: 359px;
    height: 34px;
    right: 65px;
    top: 96px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
    color: #C4C4C4;    
}

.Email{
    position: absolute; 
    top: 203px; 
    left: 46px;
    width: 240px;
    height: 64px;
    width: 529px;
    height: 64px;
    
    background: #FFFFFF;
    border-radius: 12px;
    border-style: hidden;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-left: 23px;
    color: #C4C4C4;
}

.Password{
    position: absolute; 
    top: 311px; 
    left: 46px;
    width: 240px;
    height: 64px;
    width: 529px;
    height: 64px;
    
    background: #FFFFFF;
    border-radius: 12px;
    border-style: hidden;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-left: 23px;
    color: #C4C4C4;
}

.FirstName{
    position: absolute; 
    top: 95px; 
    left: 46px;
    width: 240px;
    height: 64px;
    
    background: #FFFFFF;
    border-radius: 12px;
    border-style: hidden;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-left: 23px;
    color: #C4C4C4;
}

.LastName{
    position: absolute; 
    top: 95px; 
    left: 335px;
    width: 240px;
    height: 64px;
    width: 240px;
    height: 64px;
    
    background: #FFFFFF;
    border-radius: 12px;
    border-style: hidden;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-left: 23px;
    color: #C4C4C4;
}

.submit{
    position: absolute;
    top: 455px;
    left: 46px;
    width: 549px;
    height: 64px;

    background: #76ABDE;
    border-radius: 12px;
    border-style: hidden;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.submit:hover{
    background: #36abde;
}

.submit:active{
    background: #36abde;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.square{
position: absolute;
width: 642px;
height: 561px;
left: 50%;
top: 50%;
transform: translate(-50%, -25%);
z-index: -10;

background: linear-gradient(0deg, #FFFFFF -40.2%, rgba(255, 255, 255, 0) 0%), #DCEEFF;
border-radius: 37px;
}