.contents{
    position: absolute;
    width: 268px;
    height: 268px;
    left: 584px;
    top: 195px;
}

.button{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    width: 351px;
    height: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.button:hover {background-color: #e5e5ef}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.skills{
    width: 352;
    height: 37;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}